.layout{

  display: flex;
  justify-content: space-between;

  &_sidebarOpened{
    .right{
      width: 82.15%
    }
    .left{
      width: 8.53%
    }
  }
  
  &::before{
    content: '';
    display: block;
    position: absolute;
    width: 383px;
    height: 383px;
    left: -17px;
    top: -28px;
    
    background: linear-gradient(260.93deg, rgba(48, 62, 245, 0.35) 0%, rgba(255, 255, 255, 0.35) 100%);
    filter: blur(250px);
    border-radius: 50.0041px;
    pointer-events: none;
  }

  &::after{
    pointer-events: none;
    display: block;
    content: '';
    position: absolute;
    width: 591px;
    height: 603px;
    left: 924px;
    top: 282px;
    
    background: linear-gradient(260.93deg, rgba(48, 62, 245, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
    filter: blur(250px);
    border-radius: 50.0041px;
  }

}

.left{
  position: relative;
  z-index: 1;
  &::before{
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    width: 391px;
    height: 399px;
    left: 15px;
    top: 286px;
    background: linear-gradient(260.93deg, rgba(135, 48, 245, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
    filter: blur(250px);
    border-radius: 50.0041px;
  }

}

.right{
  width: 81.05%;
  padding: 50px 53px 44px 0;
  max-width: 1450px;
  margin: 0 auto;
  padding-left: 10px;
  transition: width 300ms ease-out;
}

.left{
  width: 16.37%;
  transition: width 300ms ease-out;
}

.pageContent{
  margin-top: 40.5px;

}


@media(min-width: 768px) and (max-width: 1229.5px) {
  .layout{
    width: 1240px;
    overflow: hidden;
  }
}


@media(max-width: 767.5px){
  .layout{
    display: block;
    width: 100vw;
    overflow-x: hidden;

    

    
    &_sidebarOpened{
      height: 100vh;
      overflow-y: hidden;
    }
  }
  .right{
    position: relative;
    z-index: 1;
    width: 100% !important;
    margin: 0;
    padding: 0;
    padding: 0 18px;;
  }
  .left{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 3;
  }
  .pageContent{
    margin-top: 10px;
  }
}