.layout{
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
}
.right{
  width: 81.05%;
  padding: 50px 53px 44px 0;
}

.left{
  width: 16.37%;
}

.pageContent{
  margin-top: 40.5px;
}