.planc{
  display: block;
  position: relative;
  &_absoluted{
    position: absolute;
  }
  // border: -2px solid transparent;
  padding: 7.5px 17px;
  &_variant2{
    padding-left: 6.83px;
  }

  display: flex;
  align-items: center;
  background: url('../../../public/images/verticalChartItemPlankBg.svg#svgView(preserveAspectRatio(none))') center center no-repeat;
  background-size: 100% 100%;
  backdrop-filter: blur(2px);


  

  .icon{
    margin-right: 2px;
  }


  &__value{
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    color: #303EF5;
  }


  @media(max-width: 767.5px){
    padding: 5.7px 11px;
    &_variant2{
      padding-left: 4.32px;
    }
    &__value{
      font-size: 7.67811px;
      line-height: 120%;
    }
    .icon{
      margin-right: 1.28px;
      width: 14px;
      height: 14px;
    }
  }

}

