.page{



  .left{
    width: 49.012%;
  }
  .right{
    width: 47.84%;
  }
  
  h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #1A202C;
    text-transform: capitalize;
  }
  h4{
    font-weight: 600;
    font-size: 11px;
    line-height: 120%;
    color: #A09AA7;
  }
}

@media(max-width: 767.5px){
  .page{
    &>*{
      display: block !important;
    }
    .left{
      width: 100%;
    }
    .right{
      width: 100%;
    }
    h2{
      font-size: 15px;
      line-height: 15px;
    }
  }
}


.first{
  display: flex;
  justify-content: space-between;
  .left{
    display: flex;
    justify-content: space-between;
    .blue{
      overflow: hidden;
      width: 30.40%;
      position: relative;
      padding: 31px 20px;
      color: #FFFFFF;
      background: linear-gradient(270.02deg, rgba(48, 62, 245, 0.38) -187.25%, #3543F6 101.36%);
      box-shadow: 0px 10px 20px rgba(48, 62, 245, 0.05);
      border-radius: 16px;      
      &::before{
        position: absolute;
        display: block;
        content: '';
        background: url('../../../public/images/home-1-1-pattern.svg');
        width:calc(125% + 10px);
        background-size: calc(110% + 10px) 175px;
        height: 214px;
        right: -8%;
        background-repeat: no-repeat;
        top: 0px;
        opacity: 0.3;
      }
      &::after{
        position: absolute;
        display: block;
        content: '';
        width: 214px;
        height: 218px;
        left: -39px;
        bottom: -85px;
        background: linear-gradient(48.52deg, #3443F6 28.19%, rgba(52, 67, 246, 0) 87.54%);
      }
      *{
        z-index: 2;
        position: relative;
      }
      .title{
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 5px;
      }
      .value{
        font-weight: 700;
        font-size: 28px;
        line-height: 28px;
        color: #FFFFFF;
        margin-bottom: 18px;
        display: block;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .double{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .item{
        padding: 18px 18px 16px 30px;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(48, 62, 245, 0.05);
        border-radius: 16px;
        .title{
          font-weight: 600;
          font-size: 14px;
          line-height: 129%;
          color: #A09AA7;
          margin-bottom: 4px;
        }
        .value{
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          color: #1A202C;
        }
      }
    }
    .doubleMono{
      padding: 31px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #FFFFFF;
      box-shadow: 0px 10px 20px rgba(48, 62, 245, 0.05);
      border-radius: 16px;
      
      .title{
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 5px;
        color: #A09AA7;
      }
      .value{
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #1A202C;
        
      }
    }
  }
  .right{
    padding: 31px;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(48, 62, 245, 0.05);
    border-radius: 21px;
    &__left{
      width: 23.36%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .top{
        display: flex;
        justify-content: flex-start;
        &__title{
          font-weight: 500;
          font-size: 18px;
          line-height: 129%;
          color: #A09AA7;
        }
        &__icon{
          margin-top: -10px;
          margin-bottom: -8px;
          margin-right: 10px;
          margin-left: -10px;
        }

      }
      .down{
        &__title{
          font-weight: 600;
          font-size: 14px;
          line-height: 120%;
          margin-bottom: 9px;
          color: #A09AA7;
        }
        &__value{
          font-weight: 700;
          font-size: 28px;
          line-height: 28px;
          color: #1A202C;
        }
      }
    }
    &__right{
      width: 62.45%;
      display: flex;
      justify-content: space-between;
    }
  }
}

@media(max-width: 767.5px){
  .first{
    .left{
      margin-bottom: 20px;
      .blue{
        border-radius: 10px;
        width: 31.42%;
        padding: 21px;
        &::before {
          height: 142px;
          background-size: calc(100% + 10px) 142px;
          background-position-x: 15px;
      }
        .title{
          font-size: 11px;
          line-height: 120%;
          margin-bottom: 3.34px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        .value{
          font-size: 18.7002px;
          line-height: 19px;
          margin-bottom: 12px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .double{
        width: 31.14%;
        .item{
          border-radius: 10px;
          padding: 12px 4px 12px 12px;
          min-height: 58px;
          .title{
            font-size: 11px;
            line-height: 129%;
            margin-bottom: 2.67px;
          }
          .value{
            font-size: 15px;
            line-height: 19px;
          }
        }
      }

      .doubleMono{
        width: 30%;
        border-radius: 10px;
        padding: 20px 27px;
        min-height: 132px;
        .title{
          font-size: 11px;
          line-height: 120%;
          margin-bottom: 3.34px;
        }
        .value{
          font-size: 15px;
          line-height: 19px;
        }
      }
    }
    .right{
      padding: 20px;
      border-radius: 13.4px;
      min-height: 126px;
      margin-bottom: 20px;
      .top{
        align-items: center;
        &__icon{
          width: 20px;
          height: 24.5px;
          margin-right: 10.88px;
        }
        &__title{
          font-size: 12px;
          line-height: 129%;
        }
      }
      .down{
        &__title{
          font-size: 12px;
          line-height: 120%;
          margin-bottom: 5.76px;
        }
        &__value{
          font-size: 17.9156px;
          line-height: 18px;
        }
      }
      &__right{
        width: 60.64%;
      }
    }
  }
}

.second{
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  .left{
    padding: 25px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(48, 62, 245, 0.05);
    border-radius: 21px;
    .top{
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .right{
    display: flex;
    flex-direction: column;
    padding: 31px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(48, 62, 245, 0.05);
    border-radius: 21px;
    .top{
      margin-bottom: 80px;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .bottom{
      display: flex;
      width: 100%;
      flex-grow: 1;
      .ver{
        margin-right: 34px;
        margin-bottom: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: 600;
        font-size: 11px;
        line-height: 120%;
        color: #A09AA7;
        align-items: center;
      }
      .hor{
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}

@media(max-width: 767.5px){
  .second{
    margin-top: 0;
    .left{
      padding: 19.86px 26px 11px 11px;
      margin-bottom: 20px;
      padding-bottom: 40px;

      canvas{
        margin-left: -27px;
        margin-top: -40px;
      }
      .top{
        position: relative;
        align-items: flex-start;
        margin-bottom: 6px;
        h2{
          margin-top: 3.89px;
        }
        .modesWrapper{
          width: 63.63%;
          overflow-x: scroll;
          &::after{
            position: absolute;
            width: 46px;
            height: 33px;
            background: linear-gradient(93.35deg, #FFFFFF 26.3%, rgba(255, 255, 255, 0) 132.58%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
            content: '';
            display: block;
            top: -4px;
            right: -8.5px;
          }
        }
      }
    }
    .right{
      padding: 15px;
      padding-right: 0;
      border-radius: 12.2881px;
      margin-bottom: 20px;
      .top{
        position: relative;
        margin-bottom: 5px;
        h2{
          margin-top: 3.89px;
        }
        .modesWrapperSecond{
          max-width: 47.79%;
          overflow-x: scroll;
          &::after{
            position: absolute;
            width: 46px;
            height: 33px;
            background: linear-gradient(93.35deg, #FFFFFF 26.3%, rgba(255, 255, 255, 0) 132.58%);
            transform: matrix(-1, 0, 0, 1, 0, 0);
            content: '';
            display: block;
            top: -4px;
            right: -8.5px;
          }
        }
      }
      .bottom{
        padding-right: 15px;
        justify-content: space-between;
        min-height: 121px;
        .hor{
          max-width: 75.18%;
          h4{
            white-space: nowrap;
          }
        }
        .ver{
          width: 47px;
          margin-right: 0;
        }
      }
    }
  }
}

.third{
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  .left{
    color: #303EF5;
    .top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 18px;
      .filter{
        display: flex;
        align-items: center;
        .text{
          font-weight: 600;
          font-size: 13px;
          line-height: 24px;
          margin-right: 4px;
        }
        .icon{
          margin-bottom: -2px;
        }
      }
    }
    .checks{
      max-height: 180px;
      overflow: auto;
      padding-right: 10px;    
    }

  }
  .right{
    .top{
      display: flex;
      margin-bottom: 10px;
    }
    .list{
      display: flex;
      justify-content: space-between;
      .item{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 31.71%;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(48, 62, 245, 0.05);
        border-radius: 21px;
        padding: 48px 42px;
        &_withButton{
          padding: 31px 17px;
          .top{
            // margin-bottom: 17px;
            .title{
              margin-bottom: 5px;
            }
          }
          .button{
            cursor: pointer;
            background: linear-gradient(230.92deg, rgba(48, 62, 245, 0.38) -0.23%, #3543F6 100.3%);
            border-radius: 11px;
            padding: 9.5px 20.5px;
            color: #FFFFFF;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            align-items: center;
            border: none;
            .icon{
              margin-right: 7px;
            }
          }
        }
        .top{
          text-align: center;
          // margin-bottom: 30px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          .title{
            width: 100%;
            font-weight: 600;
            font-size: 14px;
            line-height: 129%;
            color: #A09AA7;
          }
          .icon{
            margin-bottom: 10px;
          }
        }
        .value{
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          color: #1A202C;
        }
      }
    }
  }
}

@media(max-width: 767.5px){
  .third{
    .left{
      margin-bottom: 20px;
      .top{
        margin-bottom: 15px;
        .filter{
          .text{
            font-size: 12px;
            line-height: 18px;
            margin-right: 7.62px;
          }
          .icon{
            width: 8.82px;
            height: 8.82px;
          }
        }
      }
      .checks{
        max-height: 139px;
      }
    }
    .right{
      margin-bottom: 40px;
      h2{
        margin-bottom: 15px;
      }
      .list{
        .item{
          width: 31.63%;
          border-radius: 12.8856px;
          padding: 26px 10px;
          &_withButton{
            padding: 15px 2px;
            .button{
              font-size: 12.272px;
              line-height: 17px;
              padding: 5.83px 13.81px 5.83px 12.58px;
              border-radius: 6.74959px;
              width: fit-content;
              margin: 0 auto;
              .icon{
                width: 19.64px;
                height: 19.64px;
              }
            }
          }
          .top{
            .icon{
              margin-bottom: 4.91px;
              width: 20.25px;
              height: 20.25px;
            }
            .title{
              font-size: 12px;
              line-height: 129%;
            }
          }
          .value{
            font-size: 15px;
            line-height: 17px;
          }
        }
      }
    }
  }
}



