.item{
  padding-right: 13px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #303EF5;
  border-bottom: 0.731844px solid #EAECFE;
  padding-bottom: 8px;
  &_send{
    filter: opacity(0.4);
  }
  &:last-child{
    margin-bottom: 0;
  }
  .first{
    display: flex;
    align-items: center;
    .icon{
      margin-right: 8px;
    }
  }


  @media(max-width: 767.5px){
    padding-bottom: 7px;
    margin-bottom: 12.5px;
    font-size: 12px;
    line-height: 10px;
    .first{
      .icon{
        margin-right: 7.32px;
        width: 17.57px;
        height: 17.57px;
      }
    }
  }
}