.page{
  display: flex;
  justify-content: space-between;
  &>.left{
    width: 65.89%
  }
    &>.right{
    width: 30.45%;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(48, 62, 245, 0.05);
    border-radius: 25px;
    padding: 42px 24px 31px;
  }
}

.left > .list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .item{
    width: 30.42%;
    padding: 20px 30px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(48, 62, 245, 0.05);
    border-radius: 20px;
    padding-right: 50px;
    margin-bottom: 35px;
    min-height: 178px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_blue{
      padding: 27px;
      background: #3341F6;
      align-items: center;
      position: relative;
      overflow: hidden;
      *{
        position: relative;
        z-index: 1;
      }
      &::before{
        position: absolute;
        display: block;
        content: "";
        background: url(../../../public/images/home-1-1-pattern.svg);
        width: calc(125% + 10px);
        background-size: calc(110% + 10px) 175px;
        height: 214px;
        right: -20%;
        background-repeat: no-repeat;
        top: 0px;
        opacity: 0.3;
      }
      &::after{
        position: absolute;
        display: block;
        content: "";
        width: 214px;
        height: 218px;
        left: -28px;
        bottom: 7px;
        background: linear-gradient(48.52deg, #3443F6 28.19%, rgba(52, 67, 246, 0) 87.54%);
      }
        h3{
          font-weight: 600;
          font-size: 16px;
          line-height: 130%;
          color: #FFFFFF;
        }
        strong{
          font-weight: 700;
          font-size: 36px;
          line-height: 26px;
          color: #FFFFFF;
          position: relative;
          padding-left: 15px;
          display: block;
          &::before{
            left: 0px;
            content: '$';
            font-weight: 700;
            font-size: 20px;
            line-height: 16px;
            color: #FFFFFF;
            position: absolute;
          }
          
        }

      .crypto{

        &__value{
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          color: #FFFFFF !important;
        }
      }
    }
    &_chart{
      padding: 11px 20px;
      align-items: center;
      .title:first-of-type{
        margin-top: 21px;
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: #1A202C;
      }
      .wrapper{
        position: relative;
      }
      .params{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        strong{
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          color: #1A202C;
        }
        p{
          font-weight: 700;
          font-size: 12px;
          line-height: 12px;
          color: #1A202C;
        }
      }
    }

    .title{
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      color: #A09AA7;
    }

    .value{
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      color: #1A202C;
      margin-bottom: 2px;
    }

    .top{
      margin-bottom: 26px;
    }

    .crypto{
      align-items: center;
      display: flex;
      .icon{
        margin-right: 8px;
      }
      &__value{
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #A09AA7;
      }
    }

  }
}

.chart{
  .top{
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
  }
  min-height: 391px;
  background: #FFFFFF;
  padding: 30px;
  box-shadow: 0px 10px 20px rgba(48, 62, 245, 0.05);
  border-radius: 20px;
}

.formBlock{
  margin-bottom: 55px;
  .title{
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #1A202C;
    margin-bottom: 10px;
  }
  .desc{
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #A09AA7;
    margin-bottom: 22px;
  }
  .select{
    padding: 15px 14px;
    background: #F5F5FF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    margin-bottom: 16px;
    .option{
      display: flex;
      .icon{
        margin-right: 8px;
      }
    }

    &_expanded{
      .optionDown{
        display: flex !important;
      }
    }
    .optionDown{

      align-items: center;
      display: none;
      position: absolute;
      bottom: -60px;
      height: 60px;
      width: 100%;
      padding: 15px 14px;
      background: #F5F5FF;
      cursor: pointer;
      z-index: 4;
      border-radius: 10px;
      left:0;
      .icon{
        margin-right: 8px;
      }
    }
  }

  .tokenInput{
    background: rgba(48, 62, 245, 0.05);
    border-radius: 10px;
    padding: 10px 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #1A202C;
    border: none;
    outline: none;
    height: 60px;
    width: 100%;
    padding-right: 110px;
  }
  .tokenInputWrapper{
    position: relative;
    margin-bottom: 32px;
    .label{
      position: absolute;
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      top: 10px;
      right: 16px;
      color: #A09AA7;
    }
    .available{
      position: absolute;
      bottom: 10px;
      right: 16px;
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      color: #1A202C;
    }
  }


  .quantity{
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #1A202C;
    margin-bottom: 16px;
  }

  .quantityInput{
    position: relative;
    margin-bottom: 24px;
    .options{
      position: absolute;
      top: 18px;
      right: 12px;
      display: flex;
      .option{
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    input{
      background: #F5F5FF;
      border-radius: 10px;
      height: 60px;
      padding: 22px 120px 22px 18px;
      width: 100%;
      outline: none;
      border: none;
      font-weight: 500;
      font-size: 17px;
      line-height: 130%;
      color: #1A202C;
      &::placeholder{
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #D9D9FF;
      }

    }
  }

  .submit{
    padding: 15px 20px;
    background: linear-gradient(91.51deg, #9FA5FD 11.27%, #303EF5 100%);
    border-radius: 11px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: #FFFFFF;
    .icon{
      margin-right: 11px;
    }
  }
}


.earning{
  margin-bottom: 66px;
  .title{
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    text-transform: capitalize;
    color: #1A202C;
    margin-bottom: 24px;
  }
  .block{
    display: flex;
    align-items: center;
    .icon{
      margin-right: 14px;
    }
    .text{
      font-weight: 500;
      font-size: 28px;
      line-height: 28px;
      color: #1A202C;
    }
  }
}


.apy{
  .title{
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #1A202C;
  }

  .list{
    display: block;
  }

  .item{
    width: 100%;
    display: flex;
    margin-bottom: 19.5px;
    justify-content: flex-start;
    &:last-child{
      margin-bottom: 0;
    }
    .planc{
      background: linear-gradient(230.92deg, rgba(48, 62, 245, 0.38) -0.23%, #3543F6 100.3%);
      border-radius: 10px;
      padding: 3.5px 30px;
      display: flex;
      margin-right: 36px;
      .text{
              font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #FFFFFF;
      }

    }
    .desc{
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      color: #A09AA7;
    }
  }
}