.root{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34px;
  justify-content: flex-end;
  cursor: pointer;
  &_active{
    .scale{
      background: #3341F6;
      opacity: 1;
      .planc{
        display: block;
        position: absolute;
        right: calc(50% - 1px);
        top: -20px;
      }
      &::after{
        content: '';
        width: 14px;
        height: 14px;
        display: block;
        position: absolute;
        background: #FFFFFF;
        border-radius: 50%;
        top: 8.5px;
        right: calc(50% - 7px);
      }
    }
    .label{
      color: #303EF5;
    }
  }
  &_variant2{
    .planc{
      right: calc(50% - 3px) !important;
      // top: -20.5px !important;
    }
  }
}

.label{
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  color: #A09AA7;
  margin-top: 7px;
}

.planc{
display: none;
}

.scale{
  position: relative;
  background: linear-gradient(180deg, #FFF0CE 0%, #C1A875 84.37%);
  opacity: 0.5;
  border-radius: 10px;
  flex-grow: 1;
  width: 100%;
}

@media(max-width: 767.5px){
  .root{
    width: 21.75px;
    .scale{
      border-radius: 6.39843px;
    }
    &_active{
      .scale{

        .planc{
          display: block;
          position: absolute;
          right: calc(50% - 0.5px);
          top: -13.5px;
        }
        &::after{
          width: 8.96px;
          height: 8.96px;
          right: 6.48px;
          top: 6.14px;
        }
      }
    }
    &_variant2{
      .planc{
        right: calc(50% - 2px) !important;
      }
      }
    }
  }
